<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin
                name="amasty_input_checkout_controller_cart_add_before"
                type="Amasty\Input\Plugin\PluginAddToCard"
                sortOrder="10"
                disabled="false"/>
    </type>
    <type name="Magento\SalesRule\Model\RulesApplier">
        <plugin
                name="amasty_input_salesrule_model_apply_custom_discount"
                type="Amasty\Input\Plugin\PluginApplyCustomDiscount"
                sortOrder="11"
                disabled="false"/>
    </type>
    <type name="Amasty\Input\Block\ShoppingCart">
        <plugin
                name="amasty_input_sort"
                type="Amasty\Input\Plugin\PluginSortCart"
                sortOrder="11"
                disabled="false"/>
    </type>
</config>